@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body {
  margin: 0;
    font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F2FA!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
  }
  @media (max-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;
    }
    .topnavigestion{
      display: none;
    }
    }
    @media (max-width: 768px){
    .col-5,.col-6,.col-4,.col-3, .col-7, .col-8,.col-9, .col-10, .col-11{
      max-width: 100%;
      flex: 0 0 100%;
  
    }
    .float {
      float: left!important;
  }
  }

